.btn-primary-icon-md {
	height: 6.4rem;
	width: 20.2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1.2rem 3.2rem;
	gap: 0.8rem;
	background-color: $color-primary-medium;
	border-radius: 50rem;
	@include typeface-2(md);
	font-weight: 700;
	color: $color-neutral-ultralight;
	transition: all 0.3s ease-in;
	&:hover {
		background-color: $color-primary-dark;
	}
	&:target {
		background-color: $color-primary-darkest;
	}
	&:focus {
		outline: 4px solid $color-info-ultralight;
		border: 2px solid $color-info-light;
	}
}

.btn-primary-sm {
    width: fit-content;
    height: 3.2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0rem 1.6rem;
	gap: 0.8rem;

	background: $color-primary-medium;
	border-radius: 50rem;
    @include typeface-2(md);
    font-weight: 500;
    color: $color-neutral-ultralight !important;
    transition: all 0.3s ease-in;
    &:hover {
		background-color: $color-primary-dark;
	}
	&:target {
		background-color: $color-primary-darkest;
	}
	&:focus {
		outline: 2px solid $color-info-ultralight;
		border: 1   px solid $color-info-light;
	}
}
