//Brand Neutral

$color-neutral-darkest: #141414;
$color-neutral-dark: #4D4D4D;
$color-neutral-medium: #949494;
$color-neutral-light:#C7C7C7;
$color-neutral-lightest: #f7f7f7;
$color-neutral-ultralight: #FFF;

//Brand Colors

$color-primary-darkest: #000055;
$color-primary-dark: #0C0DBB;
$color-primary-medium: #3031F2;
$color-primary-light: #5051FF;
$color-primary-lightest: #AAAAFF;
$color-primary-ultralight: #E6E6FF;

$color-secondary-darkest: #77041D;
$color-secondary-dark: #BB1C3A;
$color-secondary-medium: #F04362;
$color-secondary-light: #FF6885;
$color-secondary-lightest: #FFA3B7;
$color-secondary-ultralight: #FFD6DD;

$color-tertiary-darkest: #006666;
$color-tertiary-dark: #009294;
$color-tertiary-medium: #00C4C7;
$color-tertiary-light: #3DE8EB;
$color-tertiary-lightest: #8DFBFC;
$color-tertiary-ultralight: #CCFFFF;

// Gray Scale

$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #a6a6a7;

//Feedback Colors

$color-critical-darkest: #991111;
$color-critical-dark: #CD1717;
$color-critical-medium: #E83434;
$color-critical-light: #ED5D5D;
$color-critical-lightest: #F6AEAE;
$color-critical-ultralight: #FDEAEA;

$color-success-darkest: #027E64;
$color-success-dark: #06A280;
$color-success-medium: #00C99E;
$color-success-light: #4ADDBD;
$color-success-lightest: #99F1DE;
$color-success-ultralight: #E5FAF5;

$color-warning-darkest: #CD671E;
$color-warning-dark: #E7721E;
$color-warning-medium: #F88430;
$color-warning-light: #FBA566;
$color-warning-lightest: #FCC8A3;
$color-warning-ultralight: #FDE4D1;

$color-info-darkest: #022652;
$color-info-dark: #0E3C74;
$color-info-medium: #0D4F9F;
$color-info-light: #2C73C7;
$color-info-lightest: #7FACE2;
$color-info-ultralight: #BAD5F4;