footer {
    height: 8rem;
    border-top: 0.1rem solid $color-primary-ultralight;
    display: flex;
    justify-content: center;
    align-items: center;

    @include responsive(s) {
        height: auto;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include responsive(s) {
            flex-direction: column;
            justify-content: center;
           
            
        }
        .footer__copy {
            p {
                @include typeface-2(sm);
                display: inline-block;
                color: $color-neutral-dark;
            }
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1.6rem;
            @include responsive(s) {
                flex-direction: column;
                justify-content: center;
                
            }
        }

        .footer__media {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 2.4rem;
            @include responsive(s) {
                margin-top: 1.6rem;
            }
        }

    }
}