:root {
	--swiper-navigation-color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
	height: 3.2rem !important;
	width: 3.2rem !important;
	background: $color-primary-medium;
	border-radius: 50%;
	
}

.swiper-button-next {
	position: absolute;
	
	bottom: 0 !important;
}

.swiper-custom-nav {
    margin-top: 24px;
	max-width: 8.8rem;
	height: 3.2rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.swiper-button-next::after,
.swiper-button-prev::after {
	text-transform: none !important;
	letter-spacing: 0;
	font-size: 1.6rem !important;
}
